<% content_for :title, "Viewing rfq" %>

<p style="color: green"><%= notice %></p>



<div class="container-fluid">
  <div class=" min-vh-100 d-flex justify-content-center py-4">
    <div class="a4-container">
      <h3>Viewing Quote Request:</h3>

        <%= render "locked_form", rfq: @rfq %>

      <br>

      <div>
        <%= link_to "Back to all quote requests", rfqs_path %>
      </div>
    </div>
  </div>
</div>



